.active{
    border-bottom: 3px solid white;
    text-decoration: none;
}
a:hover{
    border-bottom: 3px solid white;
    padding-bottom: 3px;
}
a{
    border-bottom: 3px solid #6c757d;    
}
.Header{
    height: 300px;
}
.main{
    height: 400px;
}
body{
    height: 100vh;
}