.img{
    height:500px;
}
.btn_learnmore{
    padding: 10px 10px 10px 10px;
    font-size: 20px;
}
.images{
    width:140px;
    height:140px;
    border-radius: 50%;
}
.hr_style{
    margin-top: 100px;
}
.footer{
    height: 150px;
    padding-top:50px;
}